# Lists

- Lists are collections of  heterogeneous items (strings, integers, floats, other lists etc.)

- Lists are enclosed in [ ].

- Each item in a list is separated by a comma.

In [1]:
empty_list = []

In [3]:
my_list = ["black", "white", 2.0, 1]

white

In [ ]:
single_entry_list = ["here"]

Each item in the list has an assigned index value. One can access an item by its index.

**Other ways to construct a list**

- using the constructor 
                        list(iterable)
                       
An *iterable* is an object which you can iterate over as a collection. It can return its members one at a time. All sequence types (lists, strings, tuples) are iterables. Some non-sequence types are also iterables (dictionaries or file objects).

- using a list comprehension
                         [x for x in iterable]

In [10]:
my_list = list()

[]

In [15]:
my_list = list("abcd")

print(f"Length of the list: {len(my_list)}")

print(f"First item: {my_list[0]}")
print(f"Second item: {my_list[1]}")
print(f"Third item: {my_list[2]}")
print(f"Last item: {my_list[-1]}")

Length of the list: 4
First item: a
Second item: b
Third item: c
Last item: d

## Operations on lists

In [11]:
example = [1,2,3,4,5,6]

**Indexing**

In [14]:
example[2]

3

**Slicing**

In [12]:
example[2:5]

[3, 4, 5]

In [17]:
example[::2]

[1, 3, 5]

**Membership**

In [16]:
7 in example

False

In [17]:
2 not in example

False

**Concatenation and Repetition**

In [20]:
[0] *10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [22]:
[2,3,4]+["black","green"]

[2, 3, 4, 'black', 'green']

**Max and Min**

In [23]:
max(example)

6

In [24]:
min(example)

1

**Length**

In [25]:
len(example)

6

**Find the index of an element**

In [27]:
example.index(2)

1

In [28]:
example.index("black")

ValueError: 'black' is not in list

**Count the number of occurences of an element**

In [29]:
example.count(3)

1

## List Methods

### (1) list.append(x)

Add the item *x* to the end of the list

In [38]:
example

[1, 2, 3, 4, 5, 6]

In [39]:
example.append("black")

In [40]:
example

[1, 2, 3, 4, 5, 6, 'black']

In [41]:
out = example.append("green")
print(out)

None

In [42]:
example

[1, 2, 3, 4, 5, 6, 'black', 'green']

In [8]:
my_list = [(i*i) for i in range(5)]

print(my_list)

[0, 1, 4, 9, 16]

### (2) list.extend(iterable)

Extend the list by adding all the elements from *iterable* to the end of the list.

In [43]:
example.extend([7,8,9])
example

[1, 2, 3, 4, 5, 6, 'black', 'green', 7, 8, 9]

### (3) list.insert(i, x)
Insert the element *x* before the element with the index *i*.

In [45]:
example.insert(-3, "red")

In [46]:
example

[1, 2, 3, 4, 5, 6, 'black', 'green', 'red', 7, 8, 9]

### (4) list.remove(x)
Remove all elements with a value equal to *x*

In [47]:
example.remove("black")

In [48]:
example

[1, 2, 3, 4, 5, 6, 'green', 'red', 7, 8, 9]

### (5) list.sort(key=None, reverse=False)
Sort the items of the list. *reverse* is boolean. *key* can be a function to extract comparison keys from each element. The default *key* is None and the elements are compared directly.

This operates **in place**: This method will not return the sorted list, instead it changes the very list it is applied to and returns nothing.

In [59]:
int_list_1 = [0,3,4,1,2]

int_list_1.sort()

In [60]:
int_list_1

[0, 1, 2, 3, 4]

In [61]:
int_list_2 = [120,100,103]

int_list_2.sort(reverse=True)

int_list_2

[120, 103, 100]

In [62]:
words = ["tree", "another", "old"]

words.sort()

words

['another', 'old', 'tree']

In [63]:
ord("a"), ord("o"), ord("t")

(97, 111, 116)

In [64]:
words = ["tree", "another", "old"]

words.sort(key=len)
words

['old', 'tree', 'another']

In [66]:
example
example.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### (6) list.reverse()
Reverse the elements of the list **in place**.

In [67]:
example

[1, 2, 3, 4, 5, 6, 'green', 'red', 7, 8, 9]

In [68]:
example.reverse()

In [69]:
example

[9, 8, 7, 'red', 'green', 6, 5, 4, 3, 2, 1]

In [70]:
example[::-1]

[1, 2, 3, 4, 5, 6, 'green', 'red', 7, 8, 9]

### (7) list.copy()

Creates a copy of the list (the assignment operator won't).

<img src="lists_nocopy.png" width="200"/>

In [71]:
list_1 = ["a","b","c"]
list_2 = list_1

list_2.append("d")

In [72]:
list_1, list_2

(['a', 'b', 'c', 'd'], ['a', 'b', 'c', 'd'])

<img src="lists_copy.png" width="200"/>

In [74]:
list_1 = ["a","b","c"]
list_2 = list_1.copy()

list_2.append("d")

In [75]:
list_1, list_2

(['a', 'b', 'c'], ['a', 'b', 'c', 'd'])

## Built-in functions to use with lists

### sorted(iterable, key=None, reverse=False)

In [76]:
int_list = [4,2,6,1]

sorted(int_list)

[1, 2, 4, 6]

In [77]:
int_list

[4, 2, 6, 1]

### sum(iterable)

In [78]:
sum(int_list)

13

# Tuples
Tuples are another sequence type. They are identical to lists in many respects, with one important difference: they are **not mutable**.

Tuples are enclosed in round brackets.

In [81]:
my_tuple = (1, "black", 3.0)

In [82]:
my_tuple[1]

'black'

In [ ]:
my_tuple.